.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media @break-medium {
  .header {
    background-color: @bg-color-menu;
    padding: 0;
    position: relative;
    
    &--inner-page::after {
      
    }
  }
}
